.banner {
    background: $background-section;
    position: relative;

    &__btn-slide {
        display: none;
        @media (max-width: 580px) {
            display: flex;
            width: 250px;
            height: 50px;
            margin: 8% auto;
        }
    }

    &__block {
        @media (max-width: 580px) {
            /*  margin-top: 250px;
            margin-top: calc(240px + (10 + 10 * 0.7) * ((100vw - 360px) / 580)); */
            margin-top: 60%;
        }

        @media (max-width: 480px) {
            margin-top: 65%;
        }

        @media (max-width: 414px) {
            margin-top: 70%;
        }

        @media (max-width: 375px) {
            margin-top: 75%;
        }
    }
    @media (max-width: 1159px) {
        height: 560px;

        &__title {
            font-size: 38px;
        }

        &__description {
            max-width: 385px;
        }

        .swiper-banner .swiper-slide {
            position: relative;
            /* background-color: rgba(255,255,255,0.4); */
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background: $background-section;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: -1;
            }
        }
    }

    @media (max-width: 1019px) {
        .swiper-banner .swiper-slide {
            &::after {
                opacity: 0.7;
            }
        }
    }

    @media (max-width: 580px) {
        height: 566px;
        .swiper-banner .swiper-slide {
            padding: 0;
            /* background-position: center !important; */
            &::after {
                all: initial;
            }
        }
    }

    @media (max-width: 768px) {
        height: 450px;
    }

    &__container {
        /*  position: relative; */
    }

    &__title {
        font-weight: 700;
        /* font-size: 45px; */
        font-size: 42px;
        line-height: 53px;
        letter-spacing: -0.03em;
        padding-bottom: 12px;
        max-width: 610px;
        span {
            color: $red;
        }
        @media (max-width: 768px) {
            line-height: 45px;
        }
        @media (max-width: 580px) {
            font-size: 28px;
            line-height: 34px;
            letter-spacing: -0.03em;
        }
        @media (max-width: 320px) {
            font-size: 20px;
            line-height: 28px;
        }
    }

    &__description {
        font-size: 18px;
        line-height: 22px;
        max-width: 480px;
        @media (max-width: 580px) {
            font-size: 17px;
            line-height: 21px;
        }

        @media (max-width: 320px) {
            font-size: 15px;
        }
    }

    &__form {
        position: absolute;
        z-index: 2;
        bottom: 20%;
        @media (max-width: 1159px) {
            bottom: 30%;
        }
        @media (max-width: 768px) {
            bottom: 18%;
        }

        @media (max-width: 580px) {
            display: none;
        }
    }

    &__form-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }

    &__form-row {
        background: #fff;
        box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
        border-radius: 3px;
        margin: 10px 0 15px;
        padding: 8px;
        display: grid;
        grid-template-columns: 40px 1fr max-content;
        align-items: center;
        svg {
            width: 17px;
            height: 17px;
            margin-left: 10px;
        }
    }

    &__label {
        display: block;
    }

    &__btn {
        width: 130px;
        height: 44px;
        align-self: flex-end;
    }

    &__form-politic {
        font-size: 14px;
        line-height: 17px;
        color: $gray;
        opacity: 0.5;
        margin-left: 18px;
        max-width: 245px;
        a {
            text-decoration: underline;
            color: $gray;
            &:hover {
                color: $red;
            }
        }
    }

    @media (max-width: 580px) and (min-width: 460px) {
        & {
            height: 620px;
        }

        .swiper-pagination {
            bottom: -35px;
        }
    }
}

.swiper-banner {
    z-index: 1;
    overflow: visible;

    .swiper-wrapper {
        height: 520px;
        @media (max-width: 1159px) {
            height: 480px;
        }
        @media (max-width: 768px) {
            height: 450px;
        }

        @media (max-width: 580px) {
            height: 566px;
        }
    }
    .swiper-slide {
        padding: 80px 0 0;
        background-repeat: no-repeat;
        @media (max-width: 1159px) {
            padding: 42px 0 0;
        }

        &.slide1 {
            background-image: url(../img/banner/1.png);
            background-size: 60% 70%;
            background-position: 102% 55%;
        }
        &.slide2 {
            background-image: url(../img/banner/2.png);
            background-position: 100% 20%;
        }
        &.slide3 {
            background-image: url(../img/banner/3.png);
            background-size: contain;
            background-position: right;
        }
        &.slide4 {
            background-image: url(../img/banner/4.png);
            background-position: right;
            background-size: 58% 100%;
        }

        @media (max-width: 1159px) {
            &.slide1 {
                background-size: 60%;
            }

            &.slide2 {
                background-size: 59%;
                background-position: 100% 50%;
            }

            &.slide3 {
                background-size: 50%;
            }

            &.slide4 {
                background-size: 60%;
                background-position: 112% 35%;
            }
        }

        @media (max-width: 768px) {
            &.slide1 {
                background-size: 100%;
                background-position: 55px 60%;
            }
            &.slide2 {
                background-size: 80%;
                background-position: 100% 30%;
            }

            &.slide3 {
                background-size: 65%;
                background-position: 100% 55%;
            }
            &.slide4 {
                background-image: none;
                &::after {
                    left: -75px;
                    width: 100vw;
                    background-image: url(../img/banner/4.png);
                    background-size: 85%;
                    background-repeat: no-repeat;
                    opacity: 0.3;
                    background-position: 280% 100%;
                }
            }
        }
        @media (max-width: 767px) {
            &.slide4 {
                &::after {
                    left: -20px;
                }
            }
        }

        @media (max-width: 580px) {
            &.slide1 {
                background-size: 100%;
                background-position: 100% 12%;
            }

            &.slide2 {
                background-size: 100%;
                background-position: 100% 10%;
            }

            &.slide3 {
                background-size: 65%;
                background-position: 55% 15%;
            }
            &.slide4 {
                background-image: url(../img/banner/4.png);
                background-size: 80%;
                background-position: 50% 10%;
                &::after {
                    all: initial;
                }
            }
        }
    }
    .swiper-pagination {
        @media (max-width: 1159px) {
            bottom: -10px;
        }

        @media (max-width: 768px) {
            bottom: 25px;
        }
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background: #d8dee2;
            opacity: 1;

            &:hover:not(.swiper-pagination-bullet-active) {
                border: 2px solid #d8dee2;
                background: $red;
            }
        }
        .swiper-pagination-bullet-active {
            background: $red;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        @media (max-width: 1320px) {
            display: none;
        }
        &::after {
            all: initial;
        }

        position: absolute !important;
    }

    .swiper-button-next.arrow,
    .swiper-button-prev.arrow {
        top: 40%;
        bottom: 0;
    }

    .swiper-button-prev {
        left: -75px;
        transform: rotate(-90deg);
    }
    .swiper-button-next {
        right: -75px;
        transform: rotate(90deg);
    }
}
