.banner {
    background: $background-section;
    position: relative;
    @media (max-width: 1159px) {
        height: 560px;

        &__title {
            font-size: 38px;
        }

        &__description {
            max-width: 385px;
        }

        .swiper-banner .swiper-slide {
            position: relative;
            /* background-color: rgba(255,255,255,0.4); */
            &::after {
                content : "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background: $background-section;
                width: 100%;
                height: 100%;
                opacity : 0.5;
                z-index: -1;
            }
        }
    }
    &__container {
        /*  position: relative; */
    }

    &__title {
        font-weight: 700;
        /* font-size: 45px; */
        font-size: 42px;
        line-height: 53px;
        letter-spacing: -0.03em;
        padding-bottom: 12px;
        max-width: 610px;
        span {
            color: $red;
        }
    }

    &__description {
        font-size: 18px;
        line-height: 22px;
        max-width: 480px;
    }

    &__form {
        position: absolute;
        z-index: 2;
        bottom: 20%;
        @media (max-width: 1159px) {
            bottom: 30%;
        }
    }

    &__form-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }

    &__form-row {
        background: #fff;
        box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
        border-radius: 3px;
        margin: 10px 0 15px;
        padding: 8px;
        display: grid;
        grid-template-columns: 40px 1fr max-content;
        align-items: center;
        svg {
            width: 17px;
            height: 17px;
            margin-left: 10px;
        }
    }

    &__label {
        display: block;
    }

    &__btn {
        width: 130px;
        height: 44px;
        align-self: flex-end;
    }

    &__form-politic {
        font-size: 14px;
        line-height: 17px;
        color: $gray;
        opacity: 0.5;
        margin-left: 18px;
        max-width: 245px;
        a {
            text-decoration: underline;
            color: $gray;
            &:hover {
                color: $red;
            }
        }
    }
}

.swiper-banner {
    z-index: 1;
    overflow: visible;

    .swiper-wrapper {
        height: 520px;
        @media (max-width: 1159px) {
            height: 480px;
        }
    }
    .swiper-slide {
        padding: 80px 0 0;
        background-repeat: no-repeat;
        @media (max-width: 1159px) {
            padding: 42px 0 0;
        }

        &.slide1 {
            background-image: url(../img/banner/1.png);
            background-size: 60% 70%;
            background-position: 102% 55%;
        }
        &.slide2 {
            background-image: url(../img/banner/2.png);
            background-position: 100% 20%;
        }
        &.slide3 {
            background-image: url(../img/banner/3.png);
            background-size: contain;
            background-position: right;
        }
        &.slide4 {
            background-image: url(../img/banner/4.png);
            background-position: right;
            background-size: 58% 100%;
        }
    }
    .swiper-pagination {
        @media(max-width: 1159px) {
            bottom: -10px;
        }
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background: #d8dee2;
            opacity: 1;

            &:hover:not(.swiper-pagination-bullet-active) {
                border: 2px solid #d8dee2;
                background: $red;
            }
        }
        .swiper-pagination-bullet-active {
            background: $red;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        @media (max-width: 1320px) {
            display: none;
        }
        &::after {
            all: initial;
        }

        position: absolute !important;
    }

    .swiper-button-next.arrow,
    .swiper-button-prev.arrow {
        top: 40%;
        bottom: 0;
    }

    .swiper-button-prev {
        left: -75px;
        transform: rotate(-90deg);
    }
    .swiper-button-next {
        right: -75px;
        transform: rotate(90deg);
    }
}
