.form {
    .form-row {
        &.none {
            .form-label {
                display: none;
            }

            .form-input {
                display: block;
            }
        }
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .form-label {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        max-width: 160px;
        color: #929da3;
        span {
            color: $red;
        }
    }
    .form-input {
        display: none;
        max-width: 160px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .form-title {
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 23px;
    }
    .form-subtitle {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 33px;
    }
    .btn:not(.banner .btn) {
        height: 50px;
        width: 100%;
        margin-top: 20px;
    }
    textarea {
        outline: none;
        border: 0;
        resize: none;
    }
}

.form:not(.banner__form) {
    background: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    .form-input {
        max-width: 100%;
        width: 100%;
    }

    .form-row {
        border: 2px solid #e4ebf1;
        border-radius: 3px;
        padding: 15px;
        &.message {
            min-height: 80px;
        }
    }
}

#callback .form {
    max-width: 445px;
    border-radius: 3px;
    border: 2px solid #E4EBF1;
}
