.menu {
    display: flex;

    &__burger {
        display: none;
        width: 24px;
        /* display: flex; */
        flex-direction: column;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background: #111827;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }

            transform: rotate(0) translate(0);
            transition: transform 0.3s ease-in;
        }
        &:hover {
            cursor: pointer;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        margin-right: 24px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__item-link {
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
        &:hover {
            color: $red;
        }
    }
}
