.order {
    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-radius: 3px;
    }

    &__card {
        padding: 35px;
        border: 1px solid #e4ebf1;
        &:hover {
            background-image: url(../img/order/hover.png);
            .order__card-title,
            .order__card-description {
                color: white;
            }

            .order__card-img {
                filter: brightness(0) invert(1);
            }
        }
    }

    &__card-img {
        width: 60px;
        height: 60px;
        margin-bottom: 30px;
    }

    &__card-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 8px;
        max-width: 207px;
    }

    &__card-description {
        font-size: 14px;
        line-height: 17px;
    }

    &__scroll {
        margin-top: 50px;
    }

    .section__subtitle {
        text-align: center;
    }
}
