.order {
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid #e4ebf1;
    border-bottom: none;
    border-right: 0;
    border-radius: 3px;
  }

  &__card {
    padding: 35px;
    border-right: 2px solid #e4ebf1;
    border-bottom: 2px solid #e4ebf1;

    &:hover {
      background-image: url(../img/order/hover.png);
      .order__card-title,
      .order__card-description {
        color: white;
      }

      .order__card-img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__card-img {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
  }

  &__card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 8px;
    max-width: 207px;
  }

  &__card-description {
    font-size: 14px;
    line-height: 17px;
  }

  &__scroll {
    margin-top: 50px;
  }

  .section__subtitle {
    text-align: center;
  }

  @media (max-width: 1159px) {
    &__card {
      padding: 28px 20px 45px;
    }
  }

  @media (max-width: 1000px) {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }

    &__card {
    }
  }

  @media (max-width: 768px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }

    &__card {
      padding: 48px 35px;
    }
    &__scroll {
      margin-top: 30px;
    }
    .section__title {
      text-align: center;
      max-width: 90%;
      margin: 0 auto;
    }
  }

  @media (max-width: 680px) {
    &__cards {
      display: flex;
      align-items: stretch;
      border: none;
    }

    &__card {
      margin-right: 14px;
      width: 265px;
      padding: 25px;
      border: 2px solid #e4ebf1;
      border-radius: 3px;
      flex-shrink: 0;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &__scroll {
      padding-right: 0;
      overflow: auto;
      width: 100vw;
    }
  }

  @media(max-width: 580px) {
    .section__title {
      text-align: left;
      margin: 0;
    }

    .section__subtitle {
      text-align: left;
    }
  }

  @media(max-width: 320px) {
      &__card {
          width: 250px;
          margin-right: 10px;
          padding: 20px;
      }
  }
}
