.visually-hidden {
    display: none;
}

.btn {
    background: $red;
    color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    &:hover {
        background: #D8DEE2;
        color: $red;
    }
}

.section {
    padding: 115px 0;

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: $red;
        padding-bottom: 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        text-transform: uppercase;
    }

    &__description {
        font-size: 24px;
        line-height: 30px;
        margin: 20px 0 40px;
    }
}

.social {
    display: flex;

    align-items: center;

    &__icons {
        display: flex;
        align-items: center;
    }
}
