.service {
  background: #07131f;
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__card {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    &:hover {
      cursor: pointer;
      .service__img-block {
        height: calc(100% + 20px);
        transition: height 0.3s ease;

        &::after {
          background: none;
        }
        .btn {
          display: flex;
        }
      }
      .service__block {
        height: 80px;
        transition: height 0.3s ease;
      }
    }
  }

  &__img-block {
    position: relative;

    /*  */
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(90deg, #0150b7 -34.86%, rgba(20, 82, 145, 0) 100%);
      z-index: 20;
    }
    .btn {
      display: none;
      width: 200px;
      height: 60px;
      z-index: 99999;
    }
  }

  &__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
  }

  &__block {
    background: #fff;
    padding: 20px 27px;
    display: flex;
    align-items: center;
    height: 100px;
    border-radius: 0 0 3px 3px;
  }

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__title {
    margin-left: 27px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  .section__title {
    color: #ffffff;
  }

  .section__description {
    color: #ffffff;
  }

  @media (max-width: 1024px) {
    &__title {
      font-size: 18px;
      line-height: 22px;
      margin-left: 20px;
    }

    &__card {
      &:hover {
        .service__img-block {
          height: calc(100% + 40px);
        }
      }
    }

    &__icon {
      width: 32px;
      height: 32px;
    }

    &__block {
      padding: 18px 24px;
      padding-right: 17px;
      height: 80px;
    }

    &__img-block {
      height: 178px;
    }
  }

  @media (max-width: 768px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 580px) {
    &__cards {
      grid-template-columns: 1fr;
    }

    &__img-block {
      height: calc(178px + (150 + 150 * 0.7) * ((100vw - 360px) / 580));
    }

    &__card {
      &:hover {
        .service__img-block {
          height: calc(210px + (180 + 180 * 0.7) * ((100vw - 360px) / 580));
        }
      }
    }
  }
  @media (max-width: 579px) {
  }

  @media (max-width: 320px) {
    &__img-block {
      height: 200px;
    }
    &__card {
      &:hover {
        .service__img-block {
          height: 225px;
        }
      }
    }
  }
}
