<section class="banner">
    <div class="page__container banner__container">
        <div class="swiper swiper-banner">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide slide1">
                    <h2 class="banner__title">Запчасти и автосервис для японских автомобилей</h2>
                    <p class="banner__description">Предложим лучшую цену по городу.<br>
                        Нашли дешевле, скажите нам,<br>
                        и мы предложим еще дешевле!</p>
                     <!-- <img class="banner-img1" src="./img/banner/1.png" alt="1"> -->
                </div>
                <div class="swiper-slide slide2">
                    <h2 class="banner__title">Диагностика + эндоскопия двигателя - бесплатно</h2>
                    <p class="banner__description">Акция действительна только в декабре!</p>
                    <!-- <img class="banner-img2" src="./img/banner/2.png" alt="2"> -->
                </div>
                <div class="swiper-slide slide3">
                    <h2 class="banner__title">Запишитесь на <span>бесплатный</span> осмотр автомобиля
                        по <span>65</span> параметрам</h2>
                    <p class="banner__description"></p>
                    <!-- <img class="banner-img3" src="./img/banner/3.png" alt="3"> -->
                </div>
                <div class="swiper-slide slide4">
                    <h2 class="banner__title">Диагностика РАЗВАЛ-СХОЖДЕНИЕ <span>бесплатно</span></h2>
                    <p class="banner__description">Проверим геометрию колёс всего за 0 рублей!<br> Акция действительна
                        только в декабре. </p>
                    <!-- <img class="banner-img4" src="./img/banner/4.png" alt="4"> -->
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <form class="banner__form form">
            <h3 class="banner__form-title">Запишитесь прямо сейчас, это бесплатно!</h3>
            <div class="banner__form-row">
                <svg>
                    <use href="./img/icons/icons.svg#banner-call"></use>
                </svg>
                <div class="form-row">
                    <label for="banner-phone" class="form-label banner__label">Ваш номер телефона <span>*</span></label>
                    <input type="tel" name="banner-phone" id="banner-phone" maxlength="12" class="form-input">
                </div>
                <button class="btn banner__btn">Отправить</button>
            </div>
            <p class="banner__form-politic">
                Отправляя форму, вы соглашаетесь
                с <a href="#">политикой конфиденциальности</a>
            </p>
        </form>
    </div>
</section>