<header class="header">

    <div class="page__container header__top">

        <div class="logo header__logo">
            <img src="./img/logo.png" alt="Logo">
        </div>
        <div class="header__contacts">
            <div class="header__contacts-call">
                <a href="tel:+73462769382">
                    <svg>
                        <use href="./img/icons/icons.svg#phone"></use>
                    </svg></a>
                <p class="header__contacts-title">Звоните</p>
                <a href="tel:+73462769382" class="header__contacts-phone">76-93-82</a>
            </div>
            <div class="header__contacts-social">
                <p class="header__contacts-title">Пишите</p>
                <div class="social header__social">
                    <a href='#'><svg>
                            <use href="./img/icons/icons.svg#telegram"></use>
                        </svg></a>
                    <a href='#'><svg>
                            <use href="./img/icons/icons.svg#whatsapp"></use>
                        </svg></a>
                </div>
            </div>
        </div>

        <nav class="menu header__menu">
            <div class="menu__burger">
                <span></span><span></span><span></span>
            </div>
            <ul class="menu__list">
                <li class="menu__item"><a href="#" class="menu__item-link">Преимущества</a></li>
                <li class="menu__item"><a href="#" class="menu__item-link">Запчасти</a></li>
                <li class="menu__item"><a href="#" class="menu__item-link">Автосервис</a></li>
                <li class="menu__item"><a href="#" class="menu__item-link">Контакты</a></li>
            </ul>
        </nav>

        <button class="btn header__btn">Заказать звонок</button>
    </div>


    <div class="header__bottom">
        <div class="page__container">
            <ul class="header__brands">
                <li class="header__brand">
                    <img src="./img/brands/toyota.png" alt="toyota">
                </li>
                <li class="header__brand">
                    <img src="./img/brands/subaru.png" alt="subaru">
                </li>
                <li class="header__brand">
                    <img src="./img/brands/nissan.png" alt="nissan">
                </li>
                <li class="header__brand">
                    <img src="./img/brands/lexus.png" alt="lexus">
                </li>
                <li class="header__brand">
                    <img src="./img/brands/mitsubisi.png" alt="mitsubisi">
                </li>
                <li class="header__brand">
                    <img src="./img/brands/honda.png" alt="honda">
                </li>
                <li class="header__brand">
                    <img src="./img/brands/mazda.png" alt="mazda">
                </li>
                <li class="header__brand">
                    <img src="./img/brands/suzuki.png" alt="suzuki">
                </li>
                <li class="header__brand">
                    <img src="./img/brands/infiniti.png" alt="infiniti">
                </li>
            </ul>
        </div>
    </div>

</header>