<section id="order" class="order section">
    <div class="page__container">
        <h3 class="section__subtitle">// Нас выбирают //</h3>
        <h2 class="section__title ">Почему заказывать запчасти у нас выгоднее?</h2>
    </div>
    <div class="page__container order__scroll">
        <ul class="order__cards">
            <li class="order__card">
                <img src="./img/order/1.png" alt="#" class="order__card-img">
                <h3 class="order__card-title">ГАРАНТИЯ 1 ГОД
                    ИЛИ 20 000 КМ</h3>
                <p class="order__card-description">На все товары, купленные у нас, и все услуги автосервиса
                    распространяется простая и понятная гарантия: если из-за заводского брака или нашего недосмотра
                    что-то сломалось – исправим все за свой счет.</p>
            </li>
            <li class="order__card">
                <img src="./img/order/2.png" alt="#" class="order__card-img">
                <h3 class="order__card-title">РАССРОЧКА НА РЕМОНТ И ПОКУПКУ АВТОЗАПЧАСТЕЙ</h3>
                <p class="order__card-description">Мы знаем, как бьет по бюджету крупный или внеплановый ремонт. Поэтому
                    предлагаем реальный выход – рассрочку на покупку запчастей и услуги автосервиса.</p>
            </li>
            <li class="order__card">
                <img src="./img/order/3.png" alt="#" class="order__card-img">
                <h3 class="order__card-title">БЕСПЛАТНАЯ ДОСТАВКА АВТОЗАПЧАСТЕЙ</h3>
                <p class="order__card-description">Привезем ваши покупки по любому указанному адресу в пределах Сургута
                    (да, и в Промзону тоже).</p>
            </li>
            <li class="order__card">
                <img src="./img/order/4.png" alt="#" class="order__card-img">
                <h3 class="order__card-title">БЕСПЛАТНЫЙ ОСМОТР АВТОМОБИЛЯ ПО 65 ПАРАМЕТРАМ</h3>
                <p class="order__card-description">Полный отчет о текущем состоянии вашего авто по
                    65 параметрам,
                    с рекомендациями по ремонту и замене – честно, профессионально, оперативно.</p>
            </li>
            <li class="order__card">
                <img src="./img/order/5.png" alt="#" class="order__card-img">
                <h3 class="order__card-title">НАКОПИТЕЛЬНАЯ СКИДКА НА ЗАПЧАСТИ ДО 15%</h3>
                <p class="order__card-description">Каждому новому клиенту оформляем накопительный дисконт, который
                    растет с каждой покупкой (до 10%
                    на расходники и до 15% на запчасти и аксессуары).</p>
            </li>
            <li class="order__card">
                <img src="./img/order/6.png" alt="#" class="order__card-img">
                <h3 class="order__card-title">СКИДКА 15% В ДЕНЬ РОЖДЕНИЯ И ВСЮ СЛЕДУЮЩУЮ НЕДЕЛЮ</h3>
                <p class="order__card-description">Запланируйте к Дню рождения приобретение запчастей или необходимый
                    ремонт – и сэкономьте деньги!</p>
            </li>
            <li class="order__card">
                <img src="./img/order/7.png" alt="#" class="order__card-img">
                <h3 class="order__card-title">ВСЕ НЕОБХОДИМОЕ – В НАЛИЧИИ НА СКЛАДЕ</h3>
                <p class="order__card-description">Большой ассортимент запчастей, агрегатов, расходных материалов,
                    аксессуаров. Всё что вам нужно, есть на складе, а недостающие позиции мы подвозим в минимальные
                    сроки.</p>
            </li>
            <li class="order__card">
                <img src="./img/order/8.png" alt="#" class="order__card-img">
                <h3 class="order__card-title">СВОЙ АВТОСЕРВИС</h3>
                <p class="order__card-description">При покупке запчастей, установка в нашем автосервисе со скидкой 10%.
                    При покупке запчастей, установка в нашем автосервисе со скидкой 10%.
                    При покупке запчастей, установка в нашем автосервисе со скидкой 10%.</p>
            </li>
        </ul>
    </div>
</section>