<section id="service" class="service section">
    <div class="page__container">
        <h3 class="section__subtitle">// автосервис</h3>
        <h2 class="section__title">Поможем установить запчасти</h2>
        <p class="section__description">При необходимости установим купленные у нас запчасти
            на ваш автомобиль со скидкой 10%</p>
        <ul class="service__cards">
            <li class="service__card">
                <div class="service__img-block" style="background-image: url(./img/service/engine.png)">
                    <button data-pointer="callback" class="btn">Узнать цену</button>
                </div>

                <div class="service__block">
                    <svg class="service__icon">
                        <use href="./img/icons/icons.svg#engine"></use>
                    </svg>
                    <h3 class="service__title">Ремонт двигателя</h3>
                </div>
            </li>
            <li class="service__card">
                <div class="service__img-block" style="background-image: url(./img/service/pendant.png)">
                    <button data-pointer="callback" class="btn">Узнать цену</button>
                </div>

                <div class="service__block">
                    <svg class="service__icon">
                        <use href="./img/icons/icons.svg#pendant"></use>
                    </svg>
                    <h3 class="service__title">Ремонт подвески</h3>
                </div>
            </li>
            <li class="service__card">
                <div class="service__img-block" style="background-image: url(./img/service/brake.png)">
                    <button data-pointer="callback" class="btn">Узнать цену</button>
                </div>

                <div class="service__block">
                    <svg class="service__icon">
                        <use href="./img/icons/icons.svg#brake"></use>
                    </svg>
                    <h3 class="service__title">Ремонт тормозной системы</h3>
                </div>
            </li>
            <li class="service__card">
                <div class="service__img-block" style="background-image: url(./img/service/cooling.png)">
                    <button data-pointer="callback" class="btn">Узнать цену</button>
                </div>

                <div class="service__block">
                    <svg class="service__icon">
                        <use href="./img/icons/icons.svg#cooling"></use>
                    </svg>
                    <h3 class="service__title">Ремонт системы охлаждения</h3>
                </div>
            </li>
            <li class="service__card">
                <div class="service__img-block" style="background-image: url(./img/service/TO.png)">
                    <button data-pointer="callback" class="btn">Узнать цену</button>
                </div>

                <div class="service__block">
                    <svg class="service__icon">
                        <use href="./img/icons/icons.svg#TO"></use>
                    </svg>
                    <h3 class="service__title">Техническое обслуживание авто</h3>
                </div>
            </li>
            <li class="service__card">
                <div class="service__img-block" style="background-image: url(./img/service/oil.png)">
                    <button data-pointer="callback" class="btn">Узнать цену</button>
                </div>

                <div class="service__block">
                    <svg class="service__icon">
                        <use href="./img/icons/icons.svg#oil"></use>
                    </svg>
                    <h3 class="service__title">Замена масла
                        и жидкостей</h3>
                </div>
            </li>
        </ul>
    </div>
</section>