<section class="service section">
    <div class="page__container">
        <h3 class="section__subtitle">// автосервис</h3>
        <h2 class="section__title">Поможем установить запчасти</h2>
        <p class="section__description">При необходимости установим купленные у нас запчасти
            на ваш автомобиль со скидкой 10%</p>
        <ul class="service__cards">
            <li class="service__card">
                <img src="./img/service/engine.png" alt="#" class="service__card-img">
                <div class="service__block">
                    <svg class="service__icon">
                        <use href="./img/icons/icons.svg#engine"></use>
                    </svg>
                    <h3 class="service__title">Ремонт двигателя</h3>
                </div>
            </li>
            <li class="service__card">
                <img src="./img/service/pendant.png" alt="#" class="service__card-img">
                <div class="service__block">
                    <svg class="service__icon">
                        <use href="./img/icons/icons.svg#pendant"></use>
                    </svg>
                    <h3 class="service__title">Ремонт подвески</h3>
                </div>
            </li>
            <li class="service__card">
                <img src="./img/service/brake.png" alt="#" class="service__card-img">
                <div class="service__block">
                    <svg class="service__icon">
                        <use href="./img/icons/icons.svg#brake"></use>
                    </svg>
                    <h3 class="service__title">Ремонт тормозной системы</h3>
                </div>
            </li>
            <li class="service__card">
                <img src="./img/service/cooling.png" alt="#" class="service__card-img">
                <div class="service__block">
                    <svg class="service__icon">
                        <use href="./img/icons/icons.svg#cooling"></use>
                    </svg>
                    <h3 class="service__title">Ремонт системы охлаждения</h3>
                </div>
            </li>
            <li class="service__card">
                <img src="./img/service/TO.png" alt="#" class="service__card-img">
                <div class="service__block">
                    <svg class="service__icon">
                        <use href="./img/icons/icons.svg#TO"></use>
                    </svg>
                    <h3 class="service__title">Техническое обслуживание авто</h3>
                </div>
            </li>
            <li class="service__card">
                <img src="./img/service/oil.png" alt="#" class="service__card-img">
                <div class="service__block">
                    <svg class="service__icon">
                        <use href="./img/icons/icons.svg#oil"></use>
                    </svg>
                    <h3 class="service__title">Замена масла
                        и жидкостей</h3>
                </div>
            </li>
        </ul>
    </div>
</section>