<section id="spare-parts" class="spare-parts section">
    <div class="page__container">
        <h3 class="section__subtitle">// запчасти</h3>
        <h2 class="section__title">узлы автомобиля</h2>
        <p class="section__description">Точный подбор запчасти сложно осуществить просто по модели авто, и чтобы
            сообщить вам цену четко и точно надо связаться с вами для уточнения деталей и нюансов поэтому мы не
            выкладываем на сайте цену «от», или примерные, а просим у вас телефон для созвона.</p>
        <ul class="spare-parts__cards">
            <li class="spare-parts__card">
                <img src="./img/spare-parts/1.png" alt="#">
                <h3 class="spare-parts__card-title">Двигатель</h3>
                <button data-pointer="callback" class="btn">Узнать цену</button>
            </li>
            <li class="spare-parts__card">
                <img src="./img/spare-parts/2.png" alt="#">
                <h3 class="spare-parts__card-title">КПП</h3>
                <button data-pointer="callback" class="btn">Узнать цену</button>
            </li>
            <li class="spare-parts__card">
                <img src="./img/spare-parts/3.png" alt="#">
                <h3 class="spare-parts__card-title">Кузовные детали
                    и оптика</h3>
                <button data-pointer="callback" class="btn">Узнать цену</button>
            </li>
            <li class="spare-parts__card">
                <img src="./img/spare-parts/4.png" alt="#">
                <h3 class="spare-parts__card-title">ДЕТАЛИ ПОДВЕСКИ</h3>
                <button data-pointer="callback" class="btn">Узнать цену</button>
            </li>
            <li class="spare-parts__card">
                <img src="./img/spare-parts/5.png" alt="#">
                <h3 class="spare-parts__card-title">РАСХОДНИКИ (ТО)</h3>
                <button data-pointer="callback" class="btn">Узнать цену</button>
            </li>
            <li class="spare-parts__card">
                <img src="./img/spare-parts/6.png" alt="#">
                <h3 class="spare-parts__card-title">МАСЛА И ТЕХнические ЖИДКОСТИ</h3>
                <button data-pointer="callback" class="btn">Узнать цену</button>
            </li>
        </ul>
    </div>
</section>